[tool.poetry]
name = "zep-python"
version = "0.2"
description = "Zep stores, manages, enriches, and searches long-term memory for conversational AI applications. This is the Python client for the Zep service."
authors = ["Daniel Chalef <daniel.chalef@private.org>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
httpx = "^0.24.1"

[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
ruff = "^0.0.265"
mypy = "^1.2.0"
pre-commit = "^3.3.1"
sphinxawesome-theme = "^4.0.3"
pytest = "^7.3.1"
pytest-httpx = "^0.22.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
